<h1>Alla låtar från alla spellistor</h1>

<table class="tracks" id="all_tracks">
	<thead>
	<tr>
		<th class="name">Namn</th>
		<th class="artist">Artist</th>
		<th class="album">Album</th>
<!--		<th>Href</th>-->
<!--		<th>Popularitet</th>-->
		<th>Längd</th>
		<% if params[:playlist_id].blank? %>
		<th>I spellistor</th>
		<% end %>
		<th>Röster</th>
<!--
		<th></th>
		<th></th>
		<th></th>
-->
	</tr>
	</thead>
	<tbody>
	<% @tracks.each do |track| %>
		<tr class="track">
			<td class="name"><%= link_to track.name, track %></td>
			<td class="artist"><%= track.artist %></td>
			<td class="album"><%= track.album %></td>
<!--			<td><%= link_to track.href, track.href %></td>-->
		<!--
			<td>
				<% unless track.popularity.blank? %>
				<% 
					(0..(track.popularity*20).to_i).each do |p|
						%>|<%
					end 
				end
				%>
			</td>
		-->
			<td><%= track.length_in_minutes %></td>
			<% if params[:playlist_id].blank? %>
			<td>
				<%= track.playlist_items.count %>
			</td>
			<% end %>
			<td class="votes">
				<%= track.votes.count %>
			</td>
<!--
			<td><%= link_to 'Show', track %></td>
			<td><%= link_to 'Edit', edit_track_path(track) %></td>
			<td><%= link_to 'Destroy', track, :confirm => 'Are you sure?', :method => :delete %></td>
-->
		</tr>
	<% end %>
	</tbody>
</table>