<div data-role="header">
	<h1>Lägg till låt</h1>
</div>

<div data-role="content">


<h3>Välj låt genom:</h3>

<div data-role="collapsible">
	<h3>Sökning</h3>

<form id="spotify_search" action="" method="get">
<input type="search" id="query" name="query" placeholder="Artist/låt/album" />
<input type="submit" name="submit" value="Sök →" />
</form>

<table id="spotify_search_results" style="display: none;">
  <thead>
    <tr>
      <th class="add"></th>
      <th class="name">Namn:</th>
      <th class="artist">Artist:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="add"></td>
      <td class="name"></td>
      <td class="artist"></td>
    </tr>
  </tbody>
</table>

<div id="spotify_search_status"></div>

</div>

<div data-role="collapsible" data-state="collapsed">
	
	<h3>Spotify URI</h3>

<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :href, 'Spotify URI' %><br />
    <%= f.text_field :href %>
  </div>

  <h3>Vad är en "Spotify URI"?</h3>
  <p>Det är adressen till en låt i Spotify. </p>

  <h3>Hur hittar man den?</h3>
  <p>Högerklicka på en låt i Spotify och välj "Copy Spotify URI" så kan du klistra in det här.</p>
  
  <%= f.hidden_field :playlist_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>