<p id="notice"><%= notice %></p>

<h1><%= @track.artist %> - <%= @track.name %></h1>

<p>
  <b>Album:</b>
  <%= @track.album %>
</p>

<p>
  <%= link_to 'Lyssna på Spotify', @track.href %>
</p>

<p>
  <b>Popularity:</b>
  <%= @track.popularity %>
</p>

<p>
  <b>Length:</b>
  <%= @track.length_in_minutes %>
</p>

<h3>Finns i dessa spellistor:</h3>

<p>
	<% unless @track.playlist.blank? %>
		<%= link_to @track.playlist.name, @track.playlist %>
	<% end %>
</p>

<h3>Röster</h3>

<p><%= @track.votes_count %> (<%= @track.votes.size %>)</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
