<div data-role="header">
	<h1><%= @track.artist %> - <%= @track.name %></h1>
</div>

<p id="notice"><%= notice %></p>

<% unless @track.album_image_url.blank? %>
<img src="<%= @track.album_image_url %>" class="artist_cover" />
<% end %>

<table>
	<tr>
		<th>Artist:</td>
		<td><%= @track.artist %></td>
	</tr>
	<tr>
		<th>Låt:</td>
		<td><%= @track.name %></td>
	</tr>
	<tr>
		<th>Album:</td>
		<td><%= @track.album %></td>
	</tr>
</table>

<p>
  <%= link_to "Lyssna på i Spotify", @track.href, { "data-role" => "button", "data-icon" => 'listen' } %>
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://bignetworkinternetplayer.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=bignetworkinternetplayer">comments powered by Disqus.</a></noscript>

<!--
<h3>Finns i dessa spellistor:</h3>

<p>
	<% unless @track.playlist.blank? %>
		<%= link_to @track.playlist.name, @track.playlist %>
	<% end %>
</p>

<h3>Röster: <%= @track.votes_count %></h3>
-->
