<p id="notice"><%= notice %></p>

<% unless @artist_image_url.blank? %>
<img src="<%= @artist_image_url %>" class="artist_cover" />
<% end %>

<h2><%= @track.artist %></h2>
<h1><%= @track.name %></h1>

<div class="album">
  <%= @track.album %>
</div>

<p>
  <%= link_to 'Lyssna på Spotify', @track.href %>
</p>

<p>
  <%= @track.length_in_minutes.to_s %>m
</p>

<h3>Finns i dessa spellistor:</h3>

<p>
	<% unless @track.playlist.blank? %>
		<%= link_to @track.playlist.name, @track.playlist %>
	<% end %>
</p>

<h3>Röster: <%= @track.votes_count %></h3>

