<% unless @playlist.nil? %>
<nav class="breadcrumbs">
  <ul>
    <li><%= link_to "← Tillbaka till " + @playlist.name, @playlist %></li>
  </ul>
</nav>
<% end %>

<p id="notice"><%= notice %></p>

<% unless @track.album_image_url.blank? %>
<img src="<%= @track.album_image_url %>" class="artist_cover" />
<% end %>

<h2><%= @track.artist %></h2>
<h1><%= @track.name %></h1>

<div class="album">
  <%= @track.album %>
</div>

<p>
&nbsp;
<!--
  <%= @track.length_in_minutes.to_s.gsub("\.", ":") %>
-->
</p>

<p>
  <%= link_to image_tag("icon_spotify.png") + " Lyssna", @track.href, { :class => 'button listen' } %>
</p>

<!--
<h3>Finns i dessa spellistor:</h3>

<p>
	<% unless @track.playlist.blank? %>
		<%= link_to @track.playlist.name, @track.playlist %>
	<% end %>
</p>

<h3>Röster: <%= @track.votes_count %></h3>
-->
