<!--<h1>Listing tracks</h1>-->

<p>&nbsp;</p>

<table class="tracks">
	<thead>
	<tr>
		<th>Name</th>
		<th>Artist</th>
		<th>Album</th>
		<th>Href</th>
		<th>Popularity</th>
		<th>Length</th>
		<th>Playlist</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<% @tracks.each do |track| %>
		<tr class="track">
			<td><%= link_to track.name, track %></td>
			<td><%= track.artist %></td>
			<td><%= track.album %></td>
			<td><%= link_to track.href, track.href %></td>
			<td><%= track.popularity %></td>
			<td><%= track.length %></td>
			<td><%= track.playlist_id %></td>
			<td><%= link_to 'Show', track %></td>
			<td><%= link_to 'Edit', edit_track_path(track) %></td>
			<td><%= link_to 'Destroy', track, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Track', new_track_path %>
