<h1>Listing playlist_items</h1>

<table>
  <tr>
    <th>Playlist</th>
    <th>Track</th>
    <th>Votes count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @playlist_items.each do |playlist_item| %>
  <tr>
    <td><%= link_to playlist_item.playlist.name, playlist_item.playlist unless playlist_item.playlist.nil? %></td>
    <td><%= link_to playlist_item.track.name, playlist_item.track unless playlist_item.track.nil? %></td>
    <td><%= playlist_item.votes_count %></td>
    <td><%= link_to 'Show', playlist_item %></td>
    <td><%= link_to 'Edit', edit_playlist_item_path(playlist_item) %></td>
    <td><%= link_to 'Destroy', playlist_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Playlist item', new_playlist_item_path %>
