
<div class="page-header">

<div class="listen" style="float: right">
  <%= link_to image_tag("icon_spotify.png", :valign => 'sub') + " Visa i Spotify", @playlist_item.track.href, { :class => 'button listen' } %>
</div>

<%= image_tag @playlist_item.track.cover_url || 'cover_unknown.png', {:class => 'artist_cover', :width => 64} %>

<h2><%= @playlist_item.track.artist %></h2>
<h1><%= @playlist_item.track.name %></h1>

<div class="album">
  <%= @playlist_item.track.album %>
</div>

</div>

<p>
  Längd:
  <%= @playlist_item.track.length_as_string %>
</p>

<!--
<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://bignetworkinternetplayer.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=bignetworkinternetplayer">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
-->

<h3>Finns i <%= @playlist_item.track.playlists.count %> spellistor:</h3>

<ul>
	<% unless @playlist_item.track.blank? %>
  <% @playlist_item.track.playlists.each do |playlist| %>
		<li><%= link_to playlist.name, playlist %></li>
	<% end %>
  <% end %>
</ul>

<h3>Röster: <%= @playlist_item.votes.size %> (totalt <%= @playlist_item.track.votes.count %> i alla spellistor)</h3>
