<% unless @playlist_item.playlist.nil? %>
<nav class="breadcrumbs">
  <ul>
    <li><%= link_to "← Tillbaka till spellistan " + @playlist_item.playlist.name, @playlist_item.playlist %></li>
  </ul>
</nav>
<% end %>

<p id="notice"><%= notice %></p>

<%= image_tag @playlist_item.track.cover_url || 'cover_unknown.png', {:class => 'artist_cover', :width => 64} %>

<h2><%= @playlist_item.track.artist %></h2>
<h1><%= @playlist_item.track.name %></h1>

<div class="album">
  <%= @playlist_item.track.album %>
</div>

<p>
&nbsp;
<!--
  <%= @playlist_item.track.length_in_minutes.to_s.gsub("\.", ":") %>
-->
</p>

<p>
  <%= link_to image_tag("icon_spotify.png") + " Lyssna", @playlist_item.track.href, { :class => 'button listen' } %>
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://bignetworkinternetplayer.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=bignetworkinternetplayer">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>


<!--
<h3>Finns i dessa spellistor:</h3>

<p>
	<% unless @playlist_item.playlist.blank? %>
		<%= link_to @playlist_item.playlist.name, @playlist_item.playlist %>
	<% end %>
</p>

<h3>Röster: <%= @playlist_item.votes_count %></h3>
-->
