<div class="page-header">
  <h1>Ny spellista <small>&mdash; En alldeles egen</small></h1>
</div>

<%= form_for(@playlist, :html => {:class => 'form-stacked'}) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Vad vill du kalla spellistan?' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn primary' %>
    <%= link_to 'Avbryt', playlists_path, :class => 'btn' %> 
  </div>
<% end %>