<!--
<p id="notice"><%= notice %></p>
-->
<div data-role="header">
	<h1>Spellista: <%= @playlist.name %></h1>
	<%= link_to 'Ny låt', new_playlist_track_path(@playlist), { "data-icon" => "plus", "class" => "ui-btn-right" } %>
</div>

<div data-role="content">

<!--

<p>
	Status: 
	<% if @playlist.is_playing? %>
	▶ Spelar
	<% else %>
	Pausad
	<% end %>
</p>

-->

  <ul class="tracks" data-role="listview" data-filter="true" data-counttheme="a" data-splittheme="c">
  <% unless @playlist.tracks.empty? %>
    <% @playlist.tracks.each do |track| %>
      <li>
		<%= image_tag(track.album_image_url || '', { :alt => "", :height => 126, :width => 126, :class => 'cover' } ) %>
	    <h3><a href="<%= playlist_track_path(@playlist, track) %>">
        	<%= track.name %>
		</a></h3>
        	<p class="name"><strong><%= track.artist %></strong></p>
        	<p class="ui-li-count"><%= track.votes_count %><%#== 1 ? '1 röst' : "#{track.votes_count} röster" %> </p>
        <%= link_to "Rösta", votes_path("[vote][track_id]" => track.id), { :remote => true, :method => :post, "data-icon" => "arrow-u"} %>
      </li>
    <% end %>
  <% end %>
  </ul>

</div>