<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :playlist_item_id %><br />
    <%= f.collection_select :playlist_item_id, PlaylistItem.all(:include => :track), :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
