<!DOCTYPE html>
<html>
<head>
  <title>Bip</title>
<!--
  <%= stylesheet_link_tag "bip.css" %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin' rel='stylesheet' type='text/css'>
-->
  <%= stylesheet_link_tag "bip_jquerymobile.css" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", "rails.js", "jquery.dataTables.min.js", "application.js" %>
  <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>  
  <%= csrf_meta_tag %>
</head>
<body>
	
	<div data-role="page">
		<%= yield %>
	</div>
	
	<%= yield :javascript %>
	<script type="text/javascript">
var disqus_shortname = 'bignetworkinternetplayer';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/bignetworkinternetplayer/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>
