<!DOCTYPE html>
<html>
<head>
  <title>Bip</title>
  <%= stylesheet_link_tag "bip.css", "tipsy.css" %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "rails.js", "jquery.dataTables.min.js", "jquery.tipsy.js", "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<h1>
			<a href="<%= root_path %>">
				<span class="name">♪ BIP</span>
				<span class="explanation">Bignetwork Internet Player</span>
			</a>
		</h1>
		<!-- ♫  ♪ -->
	</header>
	<nav>
		<ul>
			<!--<li><%= link_to 'Användare', '#' %></li>-->
			<li><%= link_to 'Alla låtar', tracks_path, { :class => ("current" if current_page?(tracks_path)) } %></li>
			<li><%= link_to 'Spellistor', playlists_path, { :class => ("current" if controller.controller_name == 'playlists') || !params[:playlist_id].blank? } %></li>
			<li><%= link_to 'Sök', '/search', { :class => ("current" if controller.controller_name == 'search') } %></li>
		</ul>
	</nav>
	
	<section id="page" class="<%= controller.controller_name %> <%= controller.action_name %>">


<%=  %>	
		
		<section id="voting">
			
			<%= yield %>
		
		</section>
	</section>
	
	<aside> 
		<section id="updates"> 
			<h3>Aktivitet:</h3> 
			<ul id="activities"> 
				<% if @latest_votes.blank? %>
					Ingen har röstat på någon låt ännu.
				<% else %>
					<% @latest_votes.each do |vote| %>
					<li class="activity"> 
						<span class="icon vote">❤</span> 
						<%= link_to 'Någon', '#' %>
						röstade på låten
						<% if vote.playlist_item && vote.playlist_item.track %>
							<%= link_to "#{vote.playlist_item.track.artist} - #{vote.playlist_item.track.name}", vote.playlist_item %>
						<% else %>
							?
						<% end %>
						<span class="timestamp"><%= time_ago_in_words vote.created_at %> sedan</span>
					</li> 
					<% end %>
				<% end %>
				<!--
				<li class="activity"> 
					<span class="icon add">+</span> 
					<a href="#">MPV</a> la till låten <a href="#add" onclick="searchSpotify('Woman in Panic - Asdf')">Woman in Panic - Asdf</a> 
					<span class="timestamp">för fem minuter sedan</span> 
				</li>
				-->
			</ul> 
		</section> 
		<section id="about"> 
			<h3>Vad är BIP?</h3> 
			<p>I BIP kan man lägga upp och rösta på låtar man gillar. Låtarna med flest röster hamnar överst och spelas först.</p> 
			<p>Musiken kommer från <a href="http://www.spotify.com/">Spotify</a> och på sikt hoppas vi kunna göra samma sak med YouTube-videor.</p> 
		</section> 
	</aside> 

	<footer> 
		BIP, Bignetwork Internet Player – en produktion av <a href="http://www.bignetwork.se/bst">Bignetwork Software Team</a> 
	</footer>
	
	<%= yield :javascript %>
        <script type="text/javascript">
var disqus_shortname = 'bignetworkinternetplayer';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/bignetworkinternetplayer/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>
